* {
  font-family: "Poppins", sans-serif;
}

/* LOGIN COMPONENT */

.loginPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url(./assets/loginLogs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.loginContainer {
  width: 640px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.loginHead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.loginForm form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.loginFoot {
  display: flex;
}
