* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}

/* LOGIN + SIGNUP COMPONENT */

.loginPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url(./assets/loginLogs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.signupPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url(./assets/signupLogs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.loginContainer {
  width: 640px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.loginHead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.loginForm form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.loginFoot {
  display: flex;
}

/* UserLog Componenet */

.workoutLogCard {
  display: flex;
  gap: 16px;
  font-variant: small-caps;
}

.logCardLeft {
  display: flex;
  flex-direction: column;
}
.logCardRight {
  display: flex;
  flex-direction: column;
}

.logExercise ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

/*   Add Workout    */

.addWorkoutContainer {
  width: 640px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.datePicker {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.addExerciseHead {
  display: flex;
  justify-content: space-around;
}

.addExerciseModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #efebe9;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  text-align: center;
  margin: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.cardHead {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.addExerciseModal ul {
  list-style: none;
}

.exerciseSetsCard {
  width: 80%;
  background: rgba(215, 204, 200, 0.8);
  margin-bottom: 16px;
}
.newExerciseSets {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  color: #3e2723;
}

.setRW {
  max-width: 3.5em;
}
