* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}

/* LOGIN + SIGNUP COMPONENT */

.loginPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url(./assets/loginLogs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.signupPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url(./assets/loginLogs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.loginContainer {
  width: 640px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.loginHead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
.loginForm form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.loginFoot {
  display: flex;
}

/* Appbar */

.appbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}

.appbar button {
  color: #efebe9;
}
.appbarButton {
  color: #efebe9;
  transition: 0.33s;
}

.appbarButton:hover {
  color: #bf360c;
  cursor: pointer;
  transition: 0.33s;
}

/* Landing Component */

.landingPage {
  background: url(./assets/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.landingContainer {
  width: 640px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.landingHead {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
}

.landingPaths {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 48px;
}

/* LastWorkout Component */

.workoutSummary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lastWorkoutCard {
  width: 95%;
  margin-bottom: 40px;
}

/* ProfilePage Component */
.profilePageHead {
  width: 90%;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userTotalWorkouts {
  width: 95%;
  height: 116px;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.profileMax {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.maxContainer {
  width: 95%;
}
.bigFiveRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
  gap: 16px;
}
.bigFiveRow Button {
  color: #827717;
  transition: 0.5s;
}
.bigFiveRow Button:hover {
  color: #bf360c;
  transition: 0.5s;
}

.newMaxModal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newMaxModalContainer {
  width: 320px;
  margin: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;
}

/* UserLog Componenet */

.userLogPage {
  background: url(./assets/landing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.userLogContainer {
  width: 640px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.workoutLogCard {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-variant: small-caps;
}

.logCardHead {
  background: #bcaaa4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0px;
}
.logCardBody {
  display: flex;
  flex-direction: column;
  margin: 16px;
}

.logExercise {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logExercise ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

/*   Add Workout    */

.addWorkoutContainer {
  width: 640px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.addWorkoutForm {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
}

.datePicker {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  text-align: center;
}
.addIcon {
  transition: 0.5s;
}
.addIcon:hover {
  color: #9c6c58;
  transition: 0.5s;
}
.addExerciseHead {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.addExerciseModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #efebe9;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  text-align: center;
  margin: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.cardHead {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.addExerciseModal ul {
  list-style: none;
}

.exerciseSetsCard {
  width: 80%;
  background: rgba(215, 204, 200, 0.8);
  margin-bottom: 16px;
}
.newExerciseSets {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  color: #3e2723;
}

.setRW {
  max-width: 3.5em;
}
